* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-around;
    height: auto;
    width: 100vw;
    padding: 30px;
    background-color: #27293D;
}

.flags {
    display: flex;

}

/* France */
#france {
    display: grid;
    min-height: 200px;
    min-width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "b w r";
}

#france .column-1 {
    grid-area: b;
    background-color: #002495;
}

#france .column-2 {
    grid-area: w;
    background-color: #FFFFFF;
}

#france .column-3 {
    grid-area: r;
    background-color: #ED2938;
}

#germany {
    display: grid;
    min-height: 200px;
    min-width: 333.3px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-template-areas: "b"
                         "r" 
                         "y";
}

/* Germany */
#germany .row-1 {
    grid-area: b;
    background-color: #000000;
}

#germany .row-2 {
    grid-area: r;
    background-color: #DE0002;
}

#germany .row-3 {
    grid-area: y;
    background-color: #FFCE00;
}

/* Madagascar */
#madagascar {
    display: grid;
    min-height: 200px;
    min-width: 300px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "w r r"
                         "w g g"; 
}

#madagascar .column-1 {
    grid-area: w;
    background-color: #FFFFFF;
}

#madagascar .row-1 {
    grid-area: r;
    background-color: #FC3E32;
}

#madagascar .row-2 {
    grid-area: g;
    background-color: #007E39;
}


/* Switzerland */
#switzerland {
    display: grid;
    min-height: 200px;
    min-width: 200px;
    grid-template-rows: 6fr 7fr 6fr 7fr 6fr;
    grid-template-columns: 6fr 7fr 6fr 7fr 6fr;
    grid-template-areas: ". . . . ."
                         ". . t . ."
                         ". x x x ."
                         ". . b . ."
                         ". . . . .";
    background-color: #FF0002; 
}

#switzerland .field {
    grid-area: t;
    background-color: #FFFFFF;
}

#switzerland .inner-x {
    grid-area: x;
    background-color: #FFFFFF;
}

#switzerland .inner-y {
    grid-area: b;
    background-color: #FFFFFF;
}

/* https://www.crwflags.com/fotw/images/s/se-dimen.gif */

/* Sweden */
#sweden {
    display: grid;
    min-height: 200px;
    min-width: 320px;
    grid-template-rows: 4fr 2fr 4fr;
    grid-template-columns: 5fr 2fr 9fr;
    grid-template-areas: ".   y-1    ."
                         "y-2 y-1 y-3 "
                         ".   y-1    .";
    background-color: #0269A6; 
}

#sweden .yellow-1 {
    grid-area: y-1;
    background-color: #FECC00;
}

#sweden .yellow-2 {
    grid-area: y-2;
    background-color: #FECC00;
}

#sweden .yellow-3 {
    grid-area: y-3;
    background-color: #FECC00;
}

/* Gambia */
#gambia {
    display: grid;
    min-height: 200px;
    min-width: 300px;
    grid-template-rows: 6fr 1fr 4fr 1fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas: "r"
                         "."
                         "b"
                         "." 
                         "g";
    background-color: #ffffff;
}

#gambia .row-1 {
    grid-area: r;
    background-color: #CE1127;
}

#gambia .row-2 {
    grid-area: b;
    background-color: #0D1D8B;
}

#gambia .row-3 {
    grid-area: g;
    background-color: #3B7827;
}

/* Japan */
#japan {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 200px;
    min-width: 300px;
    background-color: #ffffff;
}


#japan .disc {
    display: flex;
    height: 120px;
    width: 120px;
    background-color: #BC022C;
    border-radius: 50%;
    margin: auto;
}

/* Niger */
#niger {
    display: grid;
    min-height: 200px;
    min-width: 233.3px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-template-areas: "o"
                         "w" 
                         "g";
}

#niger .row-1 {
    grid-area: o;
    background-color: #E15307;
}



#niger .row-2 {
    grid-area: w;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#niger .row-3 {
    grid-area: g;
    background-color: #10AF2A;
}

#niger .row-2 .disc {
    display: flex;
    height: 47px;
    width: 47px;
    background-color: #E15307;
    border-radius: 50%;
    margin: auto;
}

#tonga {
    display: grid;
    height: 200px;
    min-width: 400px;
    max-width: 400px;
    background-color: #C20002;
    margin: auto;
}

#tonga .whiteBox {
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 41.6%;
    height: 45.8%;
    grid-template-columns: 11fr 6fr 6fr 6fr 11fr;
    grid-template-rows: 3fr 6fr 6fr 6fr 3fr;
    grid-template-areas: ".  .  .   .  ."
                         ".  .  r1  .  ."
                         ".  r2 r1  r3 ."
                         ".  .  r1  .  ."
                         ".  .  .   .  .";
}

#tonga .red-1 {
    display: grid;
    background-color: #C20002;
    grid-area: r1;
}

#tonga .red-2 {
    display: grid;
    background-color: #C20002;
    grid-area: r2;
}

#tonga .red-3 {
    display: grid;
    background-color: #C20002;
    grid-area: r3;
}

#greece {
    display: grid;
    grid-template-columns: repeat(13, 2fr) 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "f f . g g a a a a a a a a a"
                         "f f . g g . . . . . . . . ."
                         ". . . . . b b b b b b b b b"
                         "h h . i i . . . . . . . . ."
                         "h h . i i c c c c c c c c c"
                         ". . . . . . . . . . . . . ."
                         "d d d d d d d d d d d d d d"
                         ". . . . . . . . . . . . . ."
                         "e e e e e e e e e e e e e e";

    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 300px;
    background-color: #ffffff;

}

#greece .blue {
    display: grid;
    background-color: #0E5FAE;
}

#greece .a {
    display: grid;
    grid-area: a;
    min-width: 17fr;
    min-height: 1fr;

}   

#greece .b {
    display: grid;
    grid-area: b;
    min-width: 17fr;
    min-height: 1fr;

}   

#greece .c {
    grid-area: c;
    display: grid;
    min-width: 17fr;
    min-height: 1fr;

}   

#greece .d {
    grid-area: d;
    display: grid;
    min-width: 27;
    min-height: 1fr;

}   

#greece .e {
    grid-area: e;
    display: grid;
    min-width: 27;
    min-height: 1fr;

}   

#greece .f {
    min-width: 4fr;
    min-height: 2fr;
    grid-area: f;
    display: grid;
}   

#greece .g {
    min-width: 4fr;
    min-height: 2fr;
    grid-area: g;
    display: grid;
}   

#greece .h {
    min-width: 4fr;
    min-height: 2fr;
    grid-area: h;
    display: grid;
}   

#greece .i {
    min-width: 4fr;
    min-height: 2fr;
    grid-area: i;
    display: grid;
}

#maldives {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 300px;
    background-color: #D31133;
    padding: 50px;
    font-size: 10px;
}

#maldives .green-rect {
    align-items: center;
    grid-template-columns: repeat(72, 1fr);
    grid-template-rows: repeat(48, 1fr);
    background-color: #007E39;
    min-height: 100px;
    max-width: 100px;
    min-width: 200px;
    max-width: 200px;

}

#maldives .green-circle {
    align-self: center;
    position: relative;
    top: -8.4rem;
    left: 9.2rem;
    min-height: 66.6px;
    max-height: 66.6px;
    min-width: 66.6px;
    max-width: 66.6px;
    border-radius: 100%;
    z-index: 3;
    background-color: #007E39;
}

#maldives .white-circle {
    position: relative;
    align-self: center;
    top: -15rem;
    left: 79.1px;
    min-height: 66.6px;
    max-height: 66.6px;
    min-width: 66.6px;
    max-width: 66.6px;
    border-radius: 100%;
    background-color: #ffffff;
}