body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  background-image: url(./the-godfather_ea06_2500x4000.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position-Y: -6vh;
  background-position-X: 20vw;
  background-repeat: no-repeat;
}

img {
  height: auto;
  width: 60%;
  margin: 100px;
  border-radius: 8px;
  opacity: .8;
}
