.title {
    text-align: center;
}

body {
    overflow-y: scroll;
}
.main {
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    margin: auto;
}

#add-item {
    border: 1px solid black;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitButton {
    display: block;
    margin: auto;
    padding: 6px 25px;

}

button {
    background-color: aqua;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.label {
    margin: 10px;
}

#list {
    flex-direction: column;
    display: flex;
}

#list > li{
    list-style-type: none;
    margin: 10px auto;
}

#list div {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding: 1px;
    text-align: center;
    background-color: darkcyan;
    border: 1px solid #121212;
    border-radius: 4px;

}

.itemName {
    margin: 0 10px;
}