/* Make the main headline dark green.
*** Use the font family "Georgia" for the main headline and the sub-headline.
*** Center the text of the main headline and the sub-headline.
*** Make the paragraphs have a line height of 25 pixels.
*** Remove the underline from the links.
*** Make the "You might also like" label all uppercase.
*** Bonus: Make an underline appear when you hover over a link.
*** Bonus: Make the image 'float' to the left of the body content. */

html * {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: left;
}

body {
    background-color: #f8f8f8;
}

.headlines { 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.headlines > h1{
    font-size: 50px;
    font-weight: 900;
    color: darkgreen;
}

h2 {
    font-weight: 900;
}

p {
    line-height: 25px;
}

img {
    float: left;
    margin-right: 15px;
}

span.bold {
    font-weight: 1000;
}

.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}